@import url("https://fonts.googleapis.com/css?family=Aldrich");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: #5cdb95 ;
    width:100%;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 10px;
    font-size: 25px;
    padding: 20px 30px;
    color: #edf5e1;
}
nav p{
    margin-top: -10px;
}

#logo{
    font-family: "Aldrich", sans-serif;
    font-size: 60px;
    color: #edf5e1;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0;
    display: flex;
}

/* ################# MAIN  ################# */
/*https://source.unsplash.com/random/2500x1800*/

img{
    border-radius: 100%;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}



/*######################### PAGES #########################*/

section{
    background-color: #5cdb95;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 30PX;
}

@media (max-width:1200px){
    section{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:900px){
    section{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:500px){
    section div a h3{
        font-size: 20px;
    }

}
section div a h3{
    padding-left: 20px;
}

section div a{
    text-decoration: none;
    color:#edf5e1;
    display: flex;
    font-size: 30px;
}

#tagg{
    background-color: #05386b;
    border-radius: 10px;
    padding: 10px;
    
}






/*################################## FOOTER #########################################*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-emphasis: none;
    text-decoration: none;
    background:#05386b;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px;
    box-shadow: -30px -30px -20px 20px #05386bbd;
    
}
footer h3{
    font-size: 32px !important;
}

footer a{
    text-decoration: none;
    color: #8ee4af;
}